- var link = 'firebase-auth'
- var title = 'Hinson Auth+'
- var description = 'Hinson Auth+'

<!DOCTYPE html>
html(lang="zh-TW")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{title} - Hinson Auth+

    link(rel="canonical", href=`https://hisnon.tk/${link}/`)

    meta(property="og:type", content="website")

    meta(property="og:site_name", content="Let's Write")
    meta(property="og:title", content=`${title} Hinson`)
    meta(itemprop="name", content=`${title} - Hinson`)

    meta(name="description", content=description)
    meta(property="og:description", content=description)
    meta(itemprop="description", content=description)

    meta(property="og:image:width", content="1200")
    meta(property="og:image:height", content="630")
    meta(property="og:image:alt", content=title)

    link(rel="shortcut icon", href="https://home.hinson.tk/resources/img/Hinson-logo
/profile.png")

    //- css
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css")
    link(rel="stylesheet", href="dist/style.min.css")

  body

    // 是 登入 || 註冊
    input#type(type="hidden", value="signin")

    .container

      // 未登入
      section.user-null.none
        
        // 登入 || 註冊 表單
        .form-card

          .cat.mb-4
            img(src="dist/cat_input.svg")

          .tab-title.mb-4
            a.active(href="#", data-value="signin") 登入
            a(href="#", data-value="create") 註冊

          .input-group.mb-4
            input#email.u-full-width(type="email", placeholder="輸入帳號")

          .input-group.mb-4
            input#password.u-full-width(type="password", placeholder="輸入密碼")

          .input-group.mb-4
            button#sign-up.button.button-primary(type="button")
              include dist/cat_btn.svg
          
          .text-center
            a#forgot.text-muted(href="") 忘記密碼

      // 已登入
      section.user-logged.none

        .text-center.mb-4
          p#user-email
          p#user-uid
          p#user-name
          p#user-email-verify
        
        .input-group.mb-4
          button#editor.button.button-primary(type="button") 更新顯示名稱
        
        .input-group.mb-4
          button#changePassword.button.button-primary(type="button") 修改密碼
        
        .input-group.mb-4
          button#verify-email.button.button-primary(type="button") 驗證信箱

        .input-group.mb-4
          button#logout.button.button-primary(type="button") 登出

        .input-group.mb-4
          button#delete-user.button.button-primary(type="button") 刪除帳號
      


      // 更新資料
      section.user-editor.none
        .input-group.mb-4
          input#new-name.u-full-width(type="text", placeholder="輸入顯示名稱")
        
        .input-group.mb-4
          button#sure-name.button.button-primary(type="button") 確認更新
      


      // 修改密碼
      section.user-password.none
        .input-group.mb-4
          input#old-password-change.u-full-width(type="password", placeholder="輸入舊密碼")
        .input-group.mb-4
          input#new-password.u-full-width(type="password", placeholder="輸入新密碼")
        
        .input-group.mb-4
          button#sure-password.button.button-primary(type="button") 確認更新
      


      // 刪除帳號
      section.user-delete.none
        .input-group.mb-4
          input#old-password-delete.u-full-width(type="password", placeholder="輸入密碼")
        
        .input-group.mb-4
          button#sure-delete.button.button-primary(type="button") 確認刪除


      // 忘記密碼
      section.user-forgot.none
        .input-group.mb-4
          input#new-forgot.u-full-width(type="text", placeholder="輸入您的帳號")
        
        .input-group.mb-4
          button#sure-forgot.button.button-primary(type="button") 寄出修改密碼信
      


      // 錯誤訊息
      #error-message.error


    script(src='https://www.gstatic.com/firebasejs/8.0.1/firebase-app.js')
    script(src='https://www.gstatic.com/firebasejs/8.0.1/firebase-auth.js')
    script.
 // For Firebase JS SDK v7.20.0 and later, measurementId is optional
var firebaseConfig = {
  apiKey: "AIzaSyBIhGCLOGOy74X9qpzIogToFhYqYJ-wnnc",
  authDomain: "auth-548b8.firebaseapp.com",
  projectId: "auth-548b8",
  storageBucket: "auth-548b8.appspot.com",
  messagingSenderId: "424765931773",
  appId: "1:424765931773:web:4a7694bb7bb1e57d0fbe94",
  measurementId: "G-MQTH77MNTG"
};

firebase.initializeApp(firebaseConfig);

    script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js")
    script(src="dist/main.min.js")
